@import "videos";
@import "fuentes";
@import "bg";
@import "gallery";

/* CLASES GENERALES */

.body{

background-image: url();
background-attachment: fixed;
background-position: center;
background-size: cover;
width: 100%;
height:100%;

}

